.poster__container
    margin-bottom: 20px
    display: flex
    flex-wrap: wrap
    @media screen and ( min-width: 720px )
        justify-content: space-between

.poster__img
    width: 100%
    height: 100%
    object-fit: cover
    top: 0
    
    position: absolute
    background: linear-gradient(180.1deg, rgba(255, 255, 255, 0) 0.07%, rgba(0, 0, 0, 0.138122) 0.08%, rgba(0, 0, 0, 0.75) 99.93%)
    border-radius: 12px

.poster
    height: 400px
    position: relative
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3)
    border-radius: 12px
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 50px
    padding: 20px
    flex: 1 1 100%
    @media screen and ( min-width: 720px )
        flex: 1 1 25%
        margin-right: 2%
    @media screen and ( min-width: 1190px )
        flex: 1 1 20%
        margin-right: 2%
        


@media screen and ( min-width: 720px) and (max-width: 899px )
    .poster:nth-child(2n)
        margin-right: 0

@media screen and ( min-width: 900px ) and ( max-width: 1189px)
    .poster:nth-child(3n)
        margin-right: 0

@media screen and ( min-width: 1190px )
    .poster:nth-child(4n)
        margin-right: 0


.poster__tags-container
    z-index: 1
    display: flex
    margin-bottom: 200px

.poster__tag
    padding: 5px
    margin-right: 10px
    border: 1px solid #FFFFFF
    box-sizing: border-box
    border-radius: 12px

    font-family: Proxima Nova
    font-size: 10px
    line-height: 100%

    text-align: center
    letter-spacing: 0.05em
    text-transform: uppercase

    color: #FFFFFF

.poster__tag:last-child
    margin-right: 0

.poster__footer
    z-index: 1
    display: flex
    flex-direction: column
    align-items: center


.poster__title
    display: flex
    padding-top: 15px
    font-family: Spectral
    font-style: normal
    font-weight: 800
    font-size: 22px
    line-height: 110.4%
    text-align: center

    color: #FFFFFF

    border-radius: 12px

.poster__carusel
    // margin-bottom: 30px
    display: flex
    flex-wrap: wrap

.carusel__show-group
    display: flex
    flex-direction: column
    align-items: center

.carusel__counter
    font-family: Proxima Nova
    font-size: 12px
    line-height: 15px

    display: flex
    align-items: center
    text-align: center
    letter-spacing: 0.05em
    text-transform: uppercase

    color: #B0B0B0
    font-weight: bolder

    margin-bottom: 10px

// .poster__carusel:last-child
//     margin-bottom: 0

.carusel__btn
    border: 1px solid #FFFFFF
    box-sizing: border-box
    border-radius: 52px

    font-family: Proxima Nova
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 19px

    display: flex
    align-items: center
    text-align: center
    letter-spacing: 0.05em
    text-transform: uppercase

    color: #FFFFFF
    padding: 15px 25px
    margin-bottom: 80px

.carusel
    margin-top: 50px
    .poster:last-child
        margin-bottom: 30px